<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
<small>Posted by <%= @post.user.username %></small>

<hr>

<h4>Comments</h4>
<% @post.comments.each do |comment| %>
  <div class="mb-2 ps-4 border-start">
    <strong><%= comment.user.username %>:</strong>
    <%= comment.body %>
  </div>
<% end %>
